<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LoupanMapper">

	<!-- 新增楼盘 -->
	<insert id="insert" parameterType="map">
		INSERT INTO `loupan`
		(
		`name`,
		`cityName`,
		`districtName`,
		`avgPrice`,
		`address`,
		`statFunctions`,
		`structFunctions`,
		`decoItems`,
		`ageLimits`,
		`layouts`,
		`developerName`,
		`traffic`,
		`equipment`,
		`siteArea`,
		`buildArea`,
		`ratio`,
		`greenRate`,
		`carRate`,
		`buildingCnt`,
		`roomCnt`,
		`propertyFee`,
		`propertyName`,
		`description`,
		`linkerPhone`,
		`flag`,
		`creator`,
		`updator`)
		VALUES
		(
		#{name},
		#{cityName},
		#{districtName},
		#{avgPrice},
		#{address},
		#{statFunctions},
		#{structFunctions},
		#{decoItems},
		#{ageLimits},
		#{layouts},
		#{developerName},
		#{traffic},
		#{equipment},
		#{siteArea},
		#{buildArea},
		#{ratio},
		#{greenRate},
		#{carRate},
		#{buildingCnt},
		#{roomCnt},
		#{propertyFee},
		#{propertyName},
		#{description},
		#{linkerPhone},
		#{flag},
		#{operator},
		#{operator});
		<selectKey keyProperty="id" resultType="long">
			select @@IDENTITY
		</selectKey>
	</insert>
	
	
	<!-- 更新楼盘 -->
	<update id="update" parameterType="map">
	UPDATE `loupan` SET
					`districtName` = #{districtName},
					`avgPrice` = #{avgPrice},
					`address` = #{address},
					`statFunctions` = #{statFunctions},
					`structFunctions` = #{structFunctions},
					`decoItems` = #{decoItems},
					`ageLimits` = #{ageLimits},
					`developerName` = #{developerName},
					`traffic` = #{traffic},
					`equipment` = #{equipment},
					`siteArea` = #{siteArea},
					`buildArea` = #{buildArea},
					`ratio` = #{ratio},
					`greenRate` = #{greenRate},
					`carRate` = #{carRate},
					`buildingCnt` = #{buildingCnt},
					`roomCnt` = #{roomCnt},
					`propertyFee` = #{propertyFee},
					`propertyName` = #{propertyName},
					`description` = #{description},
					`linkerPhone` = #{linkerPhone},
					`flag` = #{flag},
					`updator` = #{operator},
					`updateTime` = now()
				WHERE `id` = #{id};
	</update>

	<!-- 根据id获得楼盘 -->
	<select id="findById" resultType="loupan" parameterType="long">
		select * from loupan where id = #{id} and status = 0
	</select>

	<!-- 逻辑删除楼盘 -->
	<update id="delete" parameterType="map">
		update loupan set `status` = 9,
						`updator` = #{updator},
						`updateTime` = now()
		where id = #{id} and status = 0
	</update>

	<select id="findList" parameterType="map" resultType="loupanListView">
		select l.id,l.name,l.avgPrice,l.layouts,l.districtName,l.address,pic.picUrl as mainPic
		from loupan as l
		left join (
			select p1.picUrl,p1.loupanId from loupan_picture as p1
            left join loupan_picture as p2 on p1.loupanId = p2.loupanId and p1.main > p2.main
            group by p1.loupanId
		) as pic on pic.loupanId = l.id
		where l.status = 0
		<if test="name!=null">
			and l.name like concat(#{name},'%')
		</if>
		<if test="cityName!=null">
			and l.cityName = #{cityName}
		</if>
		<if test="districtName!=null">
			and l.districtName = #{districtName}
		</if>
		<if test="layouts!=0">
			and l.layouts&amp;${layouts}=${layouts}
		</if>
		order by 
		<if test="order!=null">
			#{order},
		</if>
		l.flag desc
		limit #{indexStart}, #{pageSize}
	</select>
</mapper>