<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>新房</title>
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/vendor/photoswipe/photoswipe.css"/>
    <link rel="stylesheet" href="/static/vendor/photoswipe/default-skin/default-skin.css"/>
    <link rel="stylesheet" href="/static/css/swiper-3.4.2.min.css"/>
    <link rel="stylesheet" href="/static/css/app.css"/>
    <link rel="stylesheet" href="/static/css/detail.css"/>
</head>
<body>
    <div id="detail-page" class="detail-page">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="img in imageList" v-on:click="onClick"><img v-bind:src="img.src" width="100%" height="100%"/></div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-back" v-on:click="back()"></div>
            <div class="swiper-footer">
                <span>效果图
                </span><span>实景图
                </span><span>户型图
                </span><span>交通配套</span>
            </div>
        </div>
        <div class="box" v-cloak="">
            <div class="container">
                <h4 class="mt_30">{{loupan.name}}</h4>
                <div>均价: <span class="f18 red">{{loupan.avgPrice}}</span> 元/平</div>
            </div>
            <hr/>
            <div class="container">
                <p><span class="text-label">主力户型:</span>1居, 2居, 3居</p>
                <p><span class="text-label">项目地址:</span>{{loupan.address}}</p>
                <div class="row">
                    <div class="col-xs-6"><p><span class="text-label">物业类型:</span>普通住宅</p></div>
                    <div class="col-xs-6"><p><span class="text-label">建筑类型:</span>板楼</p></div>
                </div>
                <div class="row">
                    <div class="col-xs-6"><p><span class="text-label">装修:</span>毛坯</p></div>
                    <div class="col-xs-6"><p><span class="text-label">产权年限:</span>40年</p></div>
                </div>
                <div><span class="text-label">开发商:</span>上海瀛联置业有限公司</div>
            </div>
            <hr/>
            <div class="container">

            </div>
        </div>
        <div class="box" v-cloak=""></div>
        <a v-cloak="" v-bind:href="'tel://' + loupan.linkerPhone" class="btn-contact">联系案场 {{loupan.linkerPhone}}</a>
    </div>
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>
</body>
<script type="text/javascript" src="/static/js/zepto.min.js"></script>
<script type="text/javascript" src="/static/js/vue.min.js"></script>
<script type="text/javascript" src="/static/vendor/photoswipe/photoswipe.min.js"></script>
<script type="text/javascript" src="/static/vendor/photoswipe/photoswipe-ui-default.min.js"></script>
<script type="text/javascript" src="/static/js/swiper-3.4.2.min.js"></script>
<script type="text/javascript" src="/static/js/detail.js"></script>
</html>