<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>新房</title>
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/vendor/photoswipe/photoswipe.css"/>
    <link rel="stylesheet" href="/static/vendor/photoswipe/default-skin/default-skin.css"/>
    <link rel="stylesheet" href="/static/css/swiper-3.4.2.min.css"/>
    <link rel="stylesheet" href="/static/css/app.css"/>
    <link rel="stylesheet" href="/static/css/detail.css"/>
</head>
<body>
    <div id="detail-page" class="detail-page">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="img in imageList" v-on:click="onClick"><img v-bind:src="img.src" width="100%" height="100%"/></div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-back" v-on:click="back()"></div>
            <div class="swiper-footer">
                <span>效果图
                </span><span>实景图
                </span><span>户型图
                </span><span>交通配套</span>
            </div>
        </div>
        <div class="box" v-cloak="">
            <div class="container">
                <h4 class="mt_30">{{loupan.name}}<span class="district">[ {{loupan.districtName}} ]</span></h4>
                <p class="flags"><span v-for="item in flagList">{{ item }}</span></p>
                <div>均价: <span class="f18 red">{{loupan.avgPrice?loupan.avgPrice+'元/平米':'未填写'}}</span> </div>
            </div>
            <hr/>
            <div class="container">
                <p><span class="text-label">主力户型</span> <span v-for="item in layoutTypeList">{{ item }} </span></p>
                <p><span class="text-label">项目地址</span>{{loupan.address?loupan.address:'未填写'}}</p>
                <div class="row">
                    <div class="col-xs-6"><p><span class="text-label">物业类型</span><span v-for="item in statFunctionList">{{ item }} </span></p></div>
                    <div class="col-xs-6"><p><span class="text-label">建筑类型</span><span v-for="item in structFunctionList">{{ item }} </span></p></div>
                </div>
                <div class="row">
                    <div class="col-xs-6"><p><span class="text-label">装修</span><span v-for="item in decoItemList">{{ item }} </span></p></div>
                    <div class="col-xs-6"><p><span class="text-label">产权年限</span><span v-for="item in ageLimitList">{{ item }} </span></p></div>
                </div>
                <div><span class="text-label">开发商</span>{{loupan.developerName}}</div>
            </div>
            <hr/>
            <div class="container">
				<p><span class="text-label">交通配套</span></p>
				<p>{{loupan.traffic?loupan.traffic:'未填写'}}</p>
				<p><span class="text-label">项目配套</span></p>
				<p>{{loupan.equipment?loupan.equipment:'未填写'}}</p>
            </div>
            <hr/>
            <div class="container">
				<p><span class="text-label">项目规划</span></p>
				<div class="row">
					<div class="col-xs-6"><p><span class="text-label">占地面积</span>{{loupan.siteArea?loupan.siteArea+' 平米':'未填写'}}</p></div>
					<div class="col-xs-6"><p><span class="text-label">建筑面积</span>{{loupan.buildArea?loupan.buildArea+' 平米':'未填写'}}</p></div>
				</div>
				<div class="row">
					<div class="col-xs-6"><p><span class="text-label">容积率</span>{{loupan.ratio?loupan.ratio:'未填写'}}</p></div>
					<div class="col-xs-6"><p><span class="text-label">绿化率</span>{{loupan.greenRate?loupan.greenRate+'%':'未填写'}}</p></div>
				</div>
				<div class="row">
					<div class="col-xs-6"><p><span class="text-label">车位比</span>{{loupan.carRate}}</p></div>
					<div class="col-xs-6"><p><span class="text-label">楼栋数</span>{{loupan.buildingCnt?loupan.buildingCnt+' 栋':''}}</p></div>
				</div>
				<div class="row">
					<div class="col-xs-6"><p><span class="text-label">总户数</span>{{loupan.roomCnt?loupan.roomCnt+' 户':''}}</p></div>
					<div class="col-xs-6"><p><span class="text-label">物业费</span>{{loupan.propertyFee?loupan.propertyFee+' 元/平米/月':''}}</p></div>
				</div>
				<div><span class="text-label">物业公司</span>{{loupan.propertyName}}</div>
            </div>
            <hr/>
            <div class="container">
				<p><span class="text-label">项目简介</span></p>
				<p>{{loupan.description}}</p>
            </div>
        </div>
        <div class="box" v-cloak=""></div>
        <a v-cloak="" v-bind:href="'tel://' + loupan.linkerPhone" class="btn-contact">联系案场 {{loupan.linkerPhone}}</a>
    </div>
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>
</body>
<script type="text/javascript" src="/static/js/zepto.min.js"></script>
<script type="text/javascript" src="/static/js/vue.min.js"></script>
<script type="text/javascript" src="/static/vendor/photoswipe/photoswipe.min.js"></script>
<script type="text/javascript" src="/static/vendor/photoswipe/photoswipe-ui-default.min.js"></script>
<script type="text/javascript" src="/static/js/swiper-3.4.2.min.js"></script>
<script type="text/javascript" src="/static/js/detail.js"></script>
</html>