<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>登录-新房</title>
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/app.css"/>
</head>
<body>
<form action="/user/login" method="POST">
    <input type="text" placeholder="用户名" name="userName"/>
    <input type="password" placeholder="密码" name="password"/>
    <button type="submit">登录</button>
</form>
</body>
<script type="text/javascript" src="/static/js/vue.min.js"></script>
</html>